  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }


  a{
      text-decoration: none;
  }
  li.ol,ul{
      list-style: none;
  }
  input,button,textarea,a{
      outline: none;
      border: none;
      border-radius: 0.5rem;
  }

  body{
      font-family: Arial, Helvetica, sans-serif;
  }
  
  :root{
    --red : #e50914;
    --text-color : #ffffff;
    --border : #222;
    --bg-color-1 :#000000;
    --bg-color-2 :#303030;
    --footer : #757575;
  }
  body {
    font-family: "Roboto", sans-serif;
  }
  
  .navbar {
    width: 100%;
    height: 6rem;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .navbar-container {
    display: flex;
    align-items: center;
    padding: 0 45px;
    height: 100%;
    color: white;
    font-family: "Sen", sans-serif;
  }
    
  .header{
    height: 80vh;
    background-image: radial-gradient(rgba(0, 0, 0, 0.25), rgba(1, 1, 1, 1)), url('/img/front.jpg');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .header-top img{
    width: 10.5rem;
    position: relative;
    left: 3px;
    /* top: 32px; */
  }

  .menu-container {
    flex: 6;
  }
  
  .menu-list {
    display: flex;
    list-style: none;
    margin-left: 3rem;
  }
  
  .menu-list-item {
    margin-right: 30px;
    font-size:1.2rem;
    /* cursor: pointer; */
  }
  .menu-list-item a{
    cursor: pointer;
  
    color:var(--text-color);
  }
  
  .menu-list-item.active {
    font-weight: bold;
  }
  .profile-container {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .profile-text-container {
    margin: 0 20px;
  }
  
  .profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .container {
    background-color: #151515;
    min-height: calc(100vh - 50px);
    color: white;
  }
  
  
  .featured-content {
    height: 50vh;
    padding: 50px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), #151515), url('/img/f-1.jpg') ;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  .featured-title {
    width: 200px;
  }
  
  .featured-desc {
    width: 500px;
    color: lightgray;
    margin: 30px 0;
  }
  
  .featured-button {
    background-color: #4dbf00;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
  }
  
  .movie-list-container {
    padding: 0 20px;
    padding-top: 5.1rem;
    
  }
  
  .movie-list-wrapper {
    position: relative;
    overflow: hidden;
    
  }
  
  .movie-list {
    display: flex;
    align-items: center;
    height: auto;
    transform: translateX(0);
    transition: all 1s ease-in-out;
  }
  
  .movie-list-item {
    margin-right: 30px;
    position: relative;
    cursor: pointer;
  }
  
  .movie-list-item:hover .movie-list-item-img {
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.4;
  }
  
  .movie-list-item:hover .movie-list-item-title,
  .movie-list-item:hover .movie-list-item-desc,
  .movie-list-item:hover .movie-list-item-button {
    opacity: 1;
    color: var(--text-color);
    transition: 1s all ease-in-out;

  }
  
  .movie-list-item-img {
    transition: all 1s ease-in-out;
    width: 270px;
    height: 200px;
    object-fit: contain;
    border-radius: 20px;
  }
  
  .movie-list-item-title {
    /* background-color: #333; */
    /* padding: 0 7px; */
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    align-items: center;
    text-align: center;
    opacity: 0;
  }
  
  .movie-list-item-desc {
    /* background-color: #333; */
    padding:  0 0.5rem;
    font-size: 1rem;
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    height: 40%;
    text-align: center;
    opacity: 0;
    /* transition: 1s all ease-in-out; */
    /* overflow-wrap: break-word; */
    /* overflow-x: wrap; */
    overflow-y: hidden;
  }
  
  .movie-list-item-button {
    padding: 10px;
    background-color: #4dbf00;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    left: 30px;
    opacity: 0;
    /* transition: 1s all ease-in-out; */
  }
  
  .arrow {
    font-size: 120px;
    position: absolute;
    top: 45px;
    right: 0;
    color: lightgray;
    opacity: 0.5;
    cursor: pointer;
  }
  
  .container.active {
    background-color: white;
  }
  
  .movie-list-title.active {
    color: black;
  }
  
  .navbar-container.active {
    background-color: white;
  
    color: black;
  }
  
  .sidebar.active{
      background-color: white;
  }
  
  .left-menu-icon.active{
      color: black;
  }
  
  .toggle.active{
      background-color: black;
  }
  
  .toggle-ball.active{
      background-color: white;
      transform: translateX(-20px);
  }
  
  @media only screen and (max-width: 940px){
      .menu-container{
          display: none;
      }
  }


    
  .footer{
    position: relative;
    padding: 4rem 3rem;
    color: var(--text-color);
    /* border-bottom: 8px solid var(--bg-color-2);  */
    width: 100%;
    height: auto;
    background-color: var(--bg-color-1);
  }
  .footer-detail{
    min-width: 190px;
    padding-bottom: 2rem;
    font-size: 1em;
    position: relative;
    margin: 0 auto;
    padding-top: 30px;
    width: 60%;
    display: flex;
    flex-direction: column;
  }
  .footer-question{
    width: 100%;
    position: relative;
  }
  .footer-question p{
    color: var(--footer);
    margin-bottom: 1.5rem;

  }
  .footer-link{
    position: relative;
    display: flex;
  }
  .f-links{
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
  }

  .f-links a{
    margin-bottom: 0.9rem;
    box-sizing: border-box;
    padding: 0;
    display: inline-block;
    min-width: 100px;
    width: 90%;
    padding-right: 1rem;
    vertical-align: top;
    color: var(--footer);
  }

  .footer-lan{
    position: relative;
    margin-right:1rem;
    cursor: pointer;
    width: fit-content;
    margin-top: 1rem;
  }

  .footer-lan select{
    position: relative;
    padding: 0.7rem 2rem;
    -webkit-appearance: none;
    width: auto;
    background: var(--bg-color-1);
    text-align: center;
    color: var(--footer);
    border: 1px solid var(--footer);
    border-radius: 0.5rem;
    font-size: 1rem;
  }
  .footer-lan::before{
    position: absolute;
    content: '\f57c';
    top: 38%;
    left: 10%;
    color: var(--footer);
    font-size: 0.8rem;
    font-family: FontAwesome;
    /* border: 1px solid red; */
    z-index: 10;
    
  }
  .footer-lan::after{
    position: absolute;
    content: '\f0d7';
    top: 23%;
    right: 10%;
    color: var(--footer);
    font-size: 1.3rem;
    font-family: FontAwesome;
    /* border: 1px solid red; */
    
  }